@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,700;0,800;1,700&display=swap');

body {
    background-color: #EEE9DA;
    font-family: 'Shantell Sans', cursive;
    text-align: center;
}

.h1{
    color: #434242;
    margin-top: 5%;
}

input {
    border: 0;
    border-radius: 5px;
    line-height: 2.5;
    margin: 3% 1.5% 4%;
    padding: 1px 10px;
    width: 50%;
}

/* .btn{
    background-color: #7F8487;
}

.btn:hover {
    background-color: #413F42;
} */

.item {
    background-color: #6096B4;
    border-radius: 10px;
    /* color: #434242; */
    color:#fff;
    margin: 2% auto;
    padding: 2%;
}